*.DS_Store
**/__pycache__/
**/*.egg-info/
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
**/trained_models/
training_runs/
**/shared_modules.egg-info/
**/wandb/
**/prob_map/
**/backup/
**/docker_inference/
Dockerfile
!gc_algorithms/base_container/Dockerfile
*.tar.gz
*.ckpt

# Ignore datasets
data/**
!data/prostate158/readme.md
!data/PI-CAI-V2.0/plan_overview.py
!data/PI-CAI-V2.0/prepare_data_semi_supervised.py
!data/PI-CAI-V2.0/readme.md
